{% extends "TestBundle::base.html.twig" %}
{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if articles is not empty %}
            {% for article in articles %}
                <div class="post-preview">
                    <a href="{{ path('article_show', {'slug': article.slug}) }}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on {{ article.createdAt|date("m/d/Y") }}</p>
                </div>

                <hr>
            {% endfor %}
            {% else %}
                <div class="post-preview">
                    <h2 class="post-title">
                        Not found articles!
                    </h2>
                </div>

                <hr>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}